.page{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo{
    height: 50px;
    width: auto;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.body{
    flex:1;
}

